@import "../../../sass/partials/config";

.signup {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 50%;
  gap: 10px;
  font-size: 1.2rem;
  justify-content: space-around;
  text-align: center;
  padding: 3.5em;
  div {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  input {
    height: 60%;
  }
  a {
    color: $link-color;
  }
  button{
    background-color: $primary-color;
  }
  p{
    color: $secondary-color;
  }
}
